{{- if .Matches -}}
⚠ **Vulnerability Report**

_Please consider this as a tentative appraisal, consult [Dependency-Track](DEPENDENCY_TRACK_URL) for reliable results._

| Artifact | Version | Severity | Vulnerability | Fixed in |
|----------|---------|----------|---------------|----------|
{{- range .Matches }}
| <details><summary>{{.Artifact.Name | replace "|" "&vert;"}}</summary>{{.Artifact.PURL | replace "|" "&vert;"}}</details> | {{.Artifact.Version}} | {{ (index (dict "Negligible" "⚪" "Low" "🔵" "Medium" "🟡" "High" "🟠" "Critical" "🔴") .Vulnerability.Severity) }}&nbsp;{{.Vulnerability.Severity}} | [{{.Vulnerability.ID}}]({{.Vulnerability.DataSource}} {{.Vulnerability.Description | replace "|" "&vert;" | quote}}) | {{.Vulnerability.Fix.Versions}} |
{{- end }}
{{- else -}}
🏆 _No vulnerabilities found_
{{- end -}}
