name: Verify cdxgen pre-release
on:
  workflow_dispatch:
    inputs:
      cdxgen_repo:
        required: false
        description: Repository (cdxgen or fork of https://github.com/CycloneDX/cdxgen/) to run tests with
        default: CycloneDX/cdxgen
      cdxgen_branch:
        required: true
        description: Branch of cdxgen_repo to run tests with
env:
  CDXGEN_PLUGINS_VERSION: '1.8.0'
  GRYPE_VERSION: 'v0.104.1'
  SBOMQS_VERSION: 'v1.3.0'
  DEPSCAN_VERSION: 'v5.5.0'
  NYDUS_VERSION: '2.3.9'
  java_version: '21'
  node_version: '21'
  mvn_parameter: '-B -ntp'
  cdxgen_branch: ${{ github.event.inputs.cdxgen_branch }}
  cdxgen_repo: ${{ github.event.inputs.cdxgen_repo }}
jobs:
  verify:
    name: Verify cdxgen pre-release from branch
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          df -h
          echo "----------------------------------------"

          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          # docker rmi $(docker image ls -aq)
          df -h

      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Nodejs
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '${{ env.node_version }}'

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '${{ env.java_version }}'
          distribution: 'temurin'

      - name: Install requirements
        uses: ./.github/actions/install-requirements
        with:
          grype_version: ${{ env.GRYPE_VERSION }}
          sbomqs_version: ${{ env.SBOMQS_VERSION }}
          cdxgen_plugins_version: ${{ env.CDXGEN_PLUGINS_VERSION }}
          depscan_version: ${{ env.DEPSCAN_VERSION }}
          nydus_version: ${{ env.NYDUS_VERSION }}
          cdxgen_repo: ${{ env.cdxgen_repo }}
          cdxgen_branch: ${{ env.cdxgen_branch }}

      - name: Application Build and Test with cdxgen branch ${{ env.cdxgen_branch }}
        env:
          QUARKUS_GITHUB_APP_APP_ID: 32168
          QUARKUS_GITHUB_APP_WEBHOOK_SECRET: for-my-eyes-only
          QUARKUS_GITHUB_APP_PRIVATE_KEY: ''
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn ${{ env.mvn_parameter }} clean verify
